{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      },
      "optimizer": {
        "simplify": true,
        "globals": {
          "vars": {
            "__DEV__": "false"
          }
        }
      }
    },
    "experimental": {
      "plugins": []
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "minify": true,
  "sourceMaps": false,
  "env": {
    "targets": {
      "browsers": ["> 1%", "last 2 versions", "not dead"]
    },
    "mode": "usage",
    "coreJs": 3
  }
}
